.width-100 {
  width: 100%;
}

.class-point-panel {
  color: white !important;
  background: #ac0b1d !important;
}

.affix {
  top: 5px;
  width: 100%;
  z-index: 100;
  background: transparent;
}

.affix + .container {
  background: transparent;
}