.width-100 {
  width: 100%;
}

.show-section-form {
  display: block !important;
}

.section-form {
  display: none;
}

.margin-0 {
  margin: 0px;
}

.help-block {
  margin-bottom: 0px;
}

.class-point-panel {
  color: white !important;
  background: #ac0b1d !important;
}

.points-text {
  color: white;
}

.page-title {
  font-size: 4em;
}

.checkbox label, .radio label, label{
  font-size: 12px;
}

a {
  color: #F8102A;;
}

a:focus, a:hover {
  color: #ac0b1d !important;
}

.fa.fa-question-circle-o {
  font-size: larger;
}

.radio input[type=radio]:checked~.check, label.radio-inline input[type=radio]:checked~.check {
  background-color: #ac0b1d !important;
}

.radio input[type=radio]:checked~.circle, label.radio-inline input[type=radio]:checked~.circle {
  border-color: #ac0b1d !important;
}

.slider .noUi-handle, .slider.slider-default .noUi-handle {
  background-color: #ac0b1d !important;
  border-color: #ac0b1d !important;
}

.checkbox input[type=checkbox]:checked+.checkbox-material .check, label.checkbox-inline input[type=checkbox]:checked+.checkbox-material .check {
  color: #ac0b1d !important;
  border-color: #ac0b1d !important;
}

.checkbox input[type=checkbox]:checked+.checkbox-material .check:before, label.checkbox-inline input[type=checkbox]:checked+.checkbox-material .check:before {
  color: #ac0b1d !important;
}

.alert.alert-danger {
  background-color: #F8102A;
  color: white;
}

.btn-group-raised .btn.btn-danger, .btn-group-raised .input-group-btn .btn.btn-danger, .btn.btn-fab.btn-danger, .btn.btn-raised.btn-danger, .input-group-btn .btn.btn-fab.btn-danger, .input-group-btn .btn.btn-raised.btn-danger {
  background-color: #ac0b1d;
  color: white;
}

.btn-group-raised .btn:not(.btn-link).active.btn-danger, .btn-group-raised .btn:not(.btn-link):active.btn-danger, .btn-group-raised .btn:not(.btn-link):focus.btn-danger, .btn-group-raised .btn:not(.btn-link):hover.btn-danger, .btn-group-raised .input-group-btn .btn:not(.btn-link).active.btn-danger, .btn-group-raised .input-group-btn .btn:not(.btn-link):active.btn-danger, .btn-group-raised .input-group-btn .btn:not(.btn-link):focus.btn-danger, .btn-group-raised .input-group-btn .btn:not(.btn-link):hover.btn-danger, .btn.btn-raised:not(.btn-link).active.btn-danger, .btn.btn-raised:not(.btn-link):active.btn-danger, .btn.btn-raised:not(.btn-link):focus.btn-danger, .btn.btn-raised:not(.btn-link):hover.btn-danger, .input-group-btn .btn.btn-raised:not(.btn-link).active.btn-danger, .input-group-btn .btn.btn-raised:not(.btn-link):active.btn-danger, .input-group-btn .btn.btn-raised:not(.btn-link):focus.btn-danger, .input-group-btn .btn.btn-raised:not(.btn-link):hover.btn-danger {
  background-color: #ac0b1d;
  color: white !important;
}

@media print {
  .section-form {
    display: block;
  }

  .next-button, .slider {
    display: none;
  }
}